@use 'mixins' as *;

.container {
	text-align: center;
	overflow: hidden;
}
.first-section {
	padding-top: 7rem;

	h2 {
		font-size: clamp(1.75rem, 3.5vw, 2.5rem);
		font-family: var(--ff-overpass);
		color: var(--clr-primary-700);
		margin-bottom: 3.5rem;
	}
	.columns {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	.column {
		@include columnMobile;

		img {
			scale: 1.25;
			margin-top: 2rem;
			margin-bottom: 5rem;
			overflow: hidden;
			z-index: -1;
		}
		h3 {
			@include h3;
		}

		p {
			@include paragraphStyle;
		}
		.paragraph:nth-of-type(2) h3 {
			margin-top: 3rem;
		}
	}
}

.second-section {
	position: relative;
	padding-top: 6rem;
	padding-bottom: 5rem;
	.background-2 {
		@include background2;
	}
	.pattern-circles {
		@include patternCircles;
	}

	h2 {
		font-size: 2.25rem;
		font-family: var(--ff-overpass);
		color: var(--clr-neutral-100);
		margin-top: 3rem;
		margin-bottom: 1rem;
	}

	.column {
		@include columnMobile;

		img {
			scale: 1.15;
		}
		p {
			font-size: 1.05rem;
			color: var(--clr-neutral-150);
			font-family: var(--ff-overpass);
			font-weight: 300;
			line-height: 1.75rem;
		}

		.columns {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.third-section {
	padding-top: 10rem;

	.columns {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.column {
		@include columnMobile;

		h3 {
			font-size: 1.75rem;
			font-family: var(--ff-overpass);
			font-weight: 700;
			color: var(--clr-primary-700);
			line-height: 2rem;
			margin-bottom: 1.5rem;
		}
		p {
			font-size: 1.05rem;
			font-family: var(--ff-overpass);
			color: var(--clr-neutral-300);
			line-height: 1.75rem;
		}

		img {
			scale: 1.6;
			margin-bottom: 7rem;
		}
		.paragraph:nth-of-type(2) h3 {
			margin-top: 3rem;
		}
	}
}

@media (min-width: 62rem) {
	.first-section {
		padding-top: 10rem;

		h2 {
			margin-bottom: 5rem;
		}

		h3 {
			font-size: 1.75rem;
			font-family: var(--ff-overpass);
			font-weight: 700;
			color: var(--clr-primary-700);
			line-height: 2rem;
			margin-bottom: 1.75rem;
		}
		.columns {
			flex-direction: row;
			margin-left: 5rem;
			gap: 5rem;

			.column {
				@include columnDesktop;

				img {
					scale: 1.25;
					margin-bottom: 0;
				}

				.column:first-of-type {
					padding-right: 5rem;
				}
				.paragraph:nth-of-type(2) h3 {
					margin-top: 5rem;
				}
			}
		}
	}
	.second-section {
		.background-2 {
			height: 50%;
			inset: auto;
		}
		.pattern-circles {
			top: -25%;
			left: -30%;
			scale: 5;
		}
		h2 {
			font-size: 2.5rem;
			margin-top: 0;
			margin-bottom: 0;
		}
		p {
			margin-top: 1.5rem;
			font-size: 1rem;
		}
		.columns {
			display: flex;
			flex-direction: row;
			align-items: center;
			.column {
				@include columnDesktop;

				img {
					scale: 1;
				}
				.paragraph {
					margin-right: 5rem;
				}
			}
		}
	}
	.third-section {
		padding-top: 4rem;

		.columns {
			flex-direction: row;
			margin-right: 10rem;
			gap: 5rem;

			.column {
				@include columnDesktop;

				img {
					scale: 1.5;
					margin-bottom: 0;
				}

				.paragraph:nth-of-type(2) h3 {
					margin-top: 5rem;
				}
				.column:last-of-type {
					padding-left: 5rem;
				}
			}
		}
	}
}
@media (min-width: 75rem) {
	.first-section .column:first-of-type {
		padding-right: 10rem;
	}
	.second-section .column .paragraph {
		margin-right: 10.75rem;
	}
	.third-section .columns {
		gap: 12rem;
	}
	.third-section .column:last-of-type {
		padding-right: 2.5rem;
	}
}
@media (min-width: 87.5rem) {
	.first-section .columns {
		margin-left: 10rem;
	}
	.second-section .column img {
		margin-left: 7.5rem;
	}
	.third-section .column:first-of-type {
		margin-left: -5rem;
		scale: 0.95;
	}
	.third-section .column:last-of-type {
		padding-right: 7.5rem;
	}
}
