.container {
	text-align: center;
	overflow: hidden;
}
.first-section {
	padding-top: 7rem;
}
.first-section h2 {
	font-size: clamp(1.75rem, 3.5vw, 2.5rem);
	font-family: var(--ff-overpass);
	color: var(--clr-primary-700);
	margin-bottom: 3.5rem;
}
.first-section .columns {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
.first-section .column,
.second-section .column,
.third-section .column {
	flex: 0 0 100%;
	padding: 0 2rem;
}
.first-section .column img {
	scale: 1.25;
	margin-top: 2rem;
	margin-bottom: 5rem;
	overflow: hidden;
	z-index: -1;
}
.first-section h3,
.third-section h3 {
	font-size: 1.75rem;
	font-family: var(--ff-overpass);
	font-weight: 700;
	color: var(--clr-primary-700);
	line-height: 2rem;
	margin-bottom: 1.5rem;
}
.first-section .paragraph:nth-of-type(2) h3,
.third-section .paragraph:nth-of-type(2) h3 {
	margin-top: 3rem;
}
.first-section p,
.third-section p {
	font-size: 1.05rem;
	font-family: var(--ff-overpass);
	color: var(--clr-neutral-300);
	line-height: 1.75rem;
}
.second-section {
	position: relative;
	padding-top: 6rem;
	padding-bottom: 5rem;
}
.second-section .columns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.background-2 {
	position: relative;
	position: absolute;
	background: linear-gradient(180deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
	inset: 15rem 0 0 0;
	width: 100%;
	height: 75%;
	border-top-right-radius: 5rem;
	border-bottom-left-radius: 5rem;
	z-index: -1;
	overflow: hidden;
}
.pattern-circles {
	position: absolute;
	background-image: url('/images/bg-pattern-circles.svg');
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
	top: -1.5rem;
	scale: 3;
}
.second-section h2 {
	font-size: 2.25rem;
	font-family: var(--ff-overpass);
	color: var(--clr-neutral-100);
	margin-top: 3rem;
	margin-bottom: 1rem;
}
.second-section p {
	font-size: 1.05rem;
	color: var(--clr-neutral-150);
	font-family: var(--ff-overpass);
	font-weight: 300;
	line-height: 1.75rem;
}
.second-section .column img {
	scale: 1.15;
}
.third-section {
	padding-top: 10rem;
}
.third-section .columns {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.third-section .column img {
	scale: 1.6;
	margin-bottom: 7rem;
}
@media (min-width: 62rem) {
	.first-section {
		padding-top: 10rem;
	}
	.first-section .columns {
		flex-direction: row;
		margin-left: 5rem;
		gap: 5rem;
	}
	.first-section .column,
	.second-section .column,
	.third-section .column {
		flex: 0 0 50%;
		text-align: left;
		padding: 0;
	}
	.first-section .column:first-of-type {
		padding-right: 5rem;
	}
	.first-section h2 {
		margin-bottom: 5rem;
	}
	.first-section h3 {
		font-size: 1.75rem;
		font-family: var(--ff-overpass);
		font-weight: 700;
		color: var(--clr-primary-700);
		line-height: 2rem;
		margin-bottom: 1.75rem;
	}
	.first-section .paragraph:nth-of-type(2) h3,
	.third-section .paragraph:nth-of-type(2) h3 {
		margin-top: 5rem;
	}
	.first-section .column img {
		scale: 1.25;
		margin-bottom: 0;
	}
	.second-section .columns {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.second-section h2 {
		font-size: 2.5rem;
		margin-top: 0;
		margin-bottom: 0;
	}
	.second-section p {
		margin-top: 1.5rem;
		font-size: 1rem;
	}
	.background-2 {
		height: 50%;
		inset: auto;
	}
	.pattern-circles {
		top: -25%;
		left: -30%;
		scale: 5;
	}
	.second-section .column .paragraph {
		margin-right: 5rem;
	}
	.third-section {
		padding-top: 4rem;
	}
	.second-section .column img {
		scale: 1;
	}
	.third-section .columns {
		flex-direction: row;
		margin-right: 10rem;
		gap: 5rem;
	}
	.third-section .column img {
		scale: 1.5;
		margin-bottom: 0;
	}
	.third-section .column:last-of-type {
		padding-left: 5rem;
	}
}
@media (min-width: 75rem) {
	.first-section .column:first-of-type {
		padding-right: 10rem;
	}
	.second-section .column .paragraph {
		margin-right: 10.75rem;
	}
	.third-section .columns {
		gap: 12rem;
	}
	.third-section .column:last-of-type {
		padding-right: 2.5rem;
	}
}
@media (min-width: 87.5rem) {
	.first-section .columns {
		margin-left: 10rem;
	}
	.second-section .column img {
		margin-left: 7.5rem;
	}
	.third-section .column:first-of-type {
		margin-left: -5rem;
		scale: 0.95;
	}
	.third-section .column:last-of-type {
		padding-right: 7.5rem;
	}
}
