*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--ff-overpass: 'Overpass', sans-serif;
	--ff-ubuntu: 'Ubuntu', sans-serif;
	--clr-primary-700: hsl(208, 49%, 24%);
	--clr-primary-400: hsl(356, 100%, 66%);
	--clr-primary-300: hsl(355, 100%, 74%);
	--clr-neutral-900: hsl(240, 10%, 16%);
	--clr-neutral-400: hsl(207, 13%, 34%);
	--clr-neutral-300: hsl(204, 5%, 36%);
	--clr-neutral-200: hsl(240, 2%, 79%);
	--clr-neutral-150: hsla(0, 0%, 100%, 0.7);
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-gradient-1: hsl(13, 100%, 72%);
	--clr-gradient-2: hsl(353, 100%, 62%);
	--clr-gradient-3: hsl(237, 17%, 21%);
	--clr-gradient-4: hsl(237, 23%, 32%);
}

body {
	font-family: 'Overpass', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}
img,
svg {
	display: block;
	max-width: 100%;
}
ul,
a {
	list-style: none;
	text-decoration: none;
}
nav {
	padding-top: 2.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.container {
	text-align: center;
	overflow: hidden;
}

.header-padding {
	padding: 0 2rem;
}

.background {
	position: absolute;
	background-image: url('./images/bg-pattern-intro-mobile.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	scale: 3.5;
	top: 14rem;
	left: 10rem;
	z-index: -1;
	width: 100%;
	height: 300px;
}

.background-color {
	position: relative;
	background: linear-gradient(150deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
	padding-bottom: 10rem;
	border-bottom-left-radius: 6rem;
	z-index: 0;
	overflow: hidden;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul {
	display: flex;
	gap: 2rem;
}
nav ul li {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	color: var(--clr-neutral-100);
	font-family: var(--ff-overpass);
	font-weight: 700;
}
.nav-container {
	display: none;
}
.burger-open {
	cursor: pointer;
}
header {
	margin-top: 6rem;
	text-align: center;
}
header h1 {
	font-size: clamp(2rem, 4vw, 3.75rem);
	color: var(--clr-neutral-100);
	font-family: var(--ff-overpass);
}
header p {
	margin-top: 1rem;
	margin-bottom: 2rem;
	/* font-size: 1.1rem; */
	font-size: clamp(1.1rem, 4vw, 1.25rem);
	color: var(--clr-neutral-150);
	font-family: var(--ff-overpass);
}
.button {
	width: 130px;
	padding: 13px 0;
	font-size: 1rem;
	font-family: var(--ff-overpass);
	font-weight: 600;
	background-color: var(--clr-neutral-100);
	color: var(--clr-primary-300);
	border: none;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.3s;
}
.login {
	font-size: 1rem;
	font-weight: 600;
	color: var(--clr-neutral-100);
	font-family: var(--ff-overpass);
	background-color: transparent;
	margin-right: 2rem;
}
.button:hover {
	background-color: var(--clr-primary-300);
	color: var(--clr-neutral-100);
}

.button-reverse {
	border: 1px solid var(--clr-neutral-100);
	background: transparent;
	color: var(--clr-neutral-100);
}
.button-reverse:hover {
	background-color: var(--clr-neutral-100);
	color: var(--clr-primary-300);
}
.btns {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
.first-section {
	padding-top: 7rem;
}
.first-section h2 {
	font-size: clamp(1.75rem, 2.5vw, 2.5rem);
	font-family: var(--ff-overpass);
	color: var(--clr-primary-700);
	margin-bottom: 3.5rem;
}

.first-section .section-container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
.first-section .column {
	flex: 0 0 100%;
	padding: 0 2rem;
}
.first-section .column img {
	scale: 1.25;
	margin-top: 2rem;
	margin-bottom: 5rem;
	overflow: hidden;
}
.first-section h3 {
	font-size: 1.75rem;
	font-family: var(--ff-overpass);
	font-weight: 700;
	color: var(--clr-primary-700);
	line-height: 2rem;
	margin-bottom: 1rem;
}
.first-section .paragraph:nth-of-type(2) h3 {
	margin-top: 3rem;
}
.first-section p {
	font-size: 1.05rem;
	font-family: var(--ff-overpass);
	color: var(--clr-neutral-300);
	line-height: 1.75rem;
}

@media (min-width: 62rem) {
	.burger-open {
		display: none;
	}
	.nav-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 4rem;
	}
	.background {
		position: absolute;
		background-image: url('./images/bg-pattern-intro-desktop.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		scale: 2.5;
		top: -10rem;
		left: 35%;
		z-index: -1;
		width: 100%;
		height: 800px;
	}
	header p {
		margin-bottom: 3rem;
	}
	.first-section {
		padding-top: 10rem;
	}

	.first-section .section-container {
		flex-direction: row;
		margin-left: 5rem;
		gap: 5rem;
	}
	.first-section .column {
		flex: 0 0 50%;
		text-align: left;
		padding: 0;
	}
	.first-section .column:first-of-type {
		padding-right: 5rem;
	}
	.first-section h2 {
		margin-bottom: 5rem;
	}

	.first-section h3 {
		font-size: 1.75rem;
		font-family: var(--ff-overpass);
		font-weight: 700;
		color: var(--clr-primary-700);
		line-height: 2rem;
		margin-bottom: 1.75rem;
	}
	.first-section .paragraph:nth-of-type(2) h3 {
		margin-top: 5rem;
	}

	.first-section .column img {
		scale: 1.35;
		margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	nav {
		padding-left: 10rem;
		padding-right: 10rem;
	}
	.first-section .column:first-of-type {
		padding-right: 10rem;
	}
}
@media (min-width: 1400px) {
	.first-section .section-container {
		margin-left: 10rem;
	}
}
